* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    color: #fff;
    background-color: #000;
    height: 8%;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;

    .right-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}